[submodule "3rd-party/glbinding"]
	path = 3rd-party/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "3rd-party/imgui/imgui"]
	path = 3rd-party/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd-party/glm"]
	path = 3rd-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd-party/SDL"]
	path = 3rd-party/SDL
	url = https://github.com/libsdl-org/SDL.git
