{
  "version": 2,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 14,
    "patch": 0
  },
  "configurePresets": [
    {
      "name": "release",
      "generator": "Unix Makefiles",
      "binaryDir": "${sourceDir}/build"
    }
  ],
  "buildPresets": [
    {
      "name": "release",
      "configurePreset": "release",
      "configuration": "Release",
      "jobs": 16
    }
  ]
}
